Often the data we are using would fit well in a spreadsheet.
Data that is appropriate for a spreadsheet is called tabular data.
Pandas is a powerful python library for working with tabular data.

In [1]:
data = '''
household,dorm,phone_energy,laptop_energy
A,tuscany,10,50
B,sauv,30,60
C,tuscany,12,45
D,sauv,20,50
'''

%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from io import StringIO
from tabulate import tabulate

df = pd.read_csv(StringIO(data))
df

  household     dorm  phone_energy  laptop_energy
0         A  tuscany            10             50
1         B     sauv            30             60
2         C  tuscany            12             45
3         D     sauv            20             50

In [5]:
# you can select an element from the table much like you do in a spreadsheet
# by using the column name and the row number
df['household'][1]

'B'

In [6]:
# you can get a column
df['household']

0    A
1    B
2    C
3    D
Name: household, dtype: object

In [9]:
# you can do math and store it in a new column
df['total_energy'] = df['phone_energy'] * df['laptop_energy']
df

  household     dorm  phone_energy  laptop_energy  total_energy
0         A  tuscany            10             50           500
1         B     sauv            30             60          1800
2         C  tuscany            12             45           540
3         D     sauv            20             50          1000

You can learn about the many other abilities of this library at
http://pandas.pydata.org/